
{% extends "layout.html" %}


{% block css %}
    {% assets "css_network_editor" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}


{% block content %}
    <div id="network"></div>

    <div id="controls">
      <button onclick="addWellNode();">Add Well</button>
      <button onclick="addVolumeNode();">Add Volume</button>
      <button onclick="clearEverything();">Clear</button>
    </div>
{% endblock %}


{% block js %}
  {% assets "js_network_editor" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
