
{% extends "layout.html" %}
{% block content %}
    <h1>Welcome {{ current_user.username }}</h1>

    <h3>Your protocols</h3>

    <div>
        {% if current_user.protocols %}
        {% for protocol in current_user.protocols %}
            <li><a href="/protocols/{{ protocol.id }}">{{ protocol.name }}</a></li>
        {% endfor %}
    {% else %}
        You haven't created any protocols yet.
    {% endif %}
    </div>

    <div><a href="/protocols/add"><i class="fa fa-plus" aria-hidden="true"></i>Add a new protocol</a></div>

{% endblock %}

