{% extends "layout.html" %}


{% block css %}
    {% assets "css_network_editor" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block body_other %} onload="networkEditor = network_editor();"{% endblock %}


{% block content %}

    <div class="modal fade" id="containerModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Container</h4>
                </div>
                <div class="modal-body">


                    <div class="form-group">
                        <label for="containerName">Name</label>
                        <input class="form-control" id="containerName" placeholder="Container 1">
                    </div>

                    <div class="form-group">
                        <label for="containerType">Type</label>
                        <select class="form-control" id="containerType">
                            {% for container_type in container_types %}
                                <option id="{{ container_type }}">{{ container_type }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="containerLocation">Location (OpenTrons only)</label>
                        <input class="form-control" id="containerLocation">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="DeleteContainerButton">Delete <span class="fa fa-trash-o"></span></button>
                    <button type="button" class="btn btn-primary" id="AddContainerButton">Save changes <span class="fa fa-floppy-o"></span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pipetteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Pipette</h4>
                </div>
                <div class="modal-body">


                    <div class="form-group">
                        <label for="pipetteName">Name</label>
                        <input class="form-control" id="pipetteName" placeholder="Pipette 1">
                    </div>

                    <div class="form-group">
                        <label for="pipetteVolume">Max Volume (microliters)</label>
                        <input class="form-control" id="pipetteVolume" value="100">
                    </div>


                   <div class="form-group">
                        <label for="pipetteMinVolume">Min volume (microliters)</label>
                        <input class="form-control" id="pipetteMinVolume" value="20">
                    </div>


                    <div class="form-group">
                        <label for="pipetteAxis">Axis</label>
                        <select class="form-control" id="pipetteAxis">
                            <option value="a">a</option>
                            <option value="b">b</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="pipetteTipRacks">Tip Rack</label>
                        <select class="form-control" id="pipetteTipRacks"></select>
                    </div>

                    <div class="form-group">
                        <label for="pipetteTrash">Trash container</label>
                        <select class="form-control" id="pipetteTrash"></select>
                    </div>

                    <div class="form-group">
                        <label for="pipetteChannels">Channels</label>
                        <input class="form-control" id="pipetteChannels" value="1">
                    </div>

                    <div class="form-group">
                        <label for="pipetteAspirateSpeed">Aspirate Speed (millimeters/minute)</label>
                        <input class="form-control" id="pipetteAspirateSpeed" value="200">
                    </div>

                    <div class="form-group">
                        <label for="pipetteDispenseSpeed">Dispense Speed (millimeters/minute)</label>
                        <input class="form-control" id="pipetteDispenseSpeed" value="600">
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="DeletePipetteButton">Delete <span class="fa fa-trash-o"></span></button>
                    <button type="button" class="btn btn-primary" id="AddPipetteButton">Save changes  <span class="fa fa-floppy-o"></span></button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Well assignments</h4>
                </div>
                <div class="modal-body">

                    <div class="row" style="padding-bottom: 10px">
                        <img style="margin-left: 5px" id="wellRow" onclick="setWellMode('Row')" src="/static/img/row.svg" width="50px" title="Place aliquots in a row">
                        <img style="margin-left: 5px" id="wellCol" onclick="setWellMode('Col')" src="/static/img/column.svg" width="50px" title="Place aliquots in a column">
                        <img style="margin-left: 5px" id="wellRect1" onclick="setWellMode('Rect1')" src="/static/img/rect1.svg" width="50px" title="Place aliquots in a rectangle">
                        <img style="margin-left: 5px" id="wellRect2" onclick="setWellMode('Rect2')" src="/static/img/rect2.svg" width="50px" title="Place aliquots in a rectangle (other orientation)">
                    </div>

                    <div class="row">
                      <div class="col-md-6" id="well-diagram"></div>
                      <div class="col-md-6" id="well-list"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Errors generating protocol</h4>
                </div>
                <div class="modal-body">
                    <p> An executable protocol could not be automatically generated because several required details have not been provided:</p>

                    <div id="protocol-error-div"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <h1>{{ protocol.name }}
        <small>(<a href="/protocols/{{ protocol.id }}/edit"><i class="fa fa-pencil"></i>Edit</a> or
            <a href="/protocols/{{ protocol.id }}/delete"><i class="fa fa-trash-o"></i>Delete</a>)
        </small>
    </h1>

    <blockquote>{{ protocol.description }}</blockquote>


    <h2>Containers</h2>
    <div class="row">
        <div id="containers" class="col-md-8">
            <ul></ul>
            <p><a href="#" onclick="return false;" id="add-container"><i class="fa fa-plus" aria-hidden="true"></i>Add a
                container</a></p>
        </div>
    </div>


    <h2>Pipettes</h2>
    <div class="row">
        <div id="pipettes" class="col-md-8">
            <ul></ul>
            <p><a href="#" onclick="return false;" id="add-pipette"><i class="fa fa-plus" aria-hidden="true"></i>Add a
                pipette</a></p>
        </div>
    </div>

    <h2>Resources</h2>
    <div class="row">
        <div id="resources" class="col-md-8">
            <ul style="list-style-type: none; padding-left: 25px;"></ul>
            <p><a href="#" onclick="networkEditor.addWellNode(); return false;" id="add-pipette"><i class="fa fa-plus" aria-hidden="true"></i>Add a
                resource</a></p>
        </div>
    </div>


    <h2>Protocol</h2>

    <div class="row">
        <div id="network" class="col-md-8">
            <div id="controls">
                <button class="btn btn-danger" onclick="networkEditor.clearEverything();">Clear</button>
                <button class="btn btn-primary" onclick="networkEditor.save();">Save</button>
                <button class="btn btn-primary" id="repeatButton">repeat</button>
                <button class="btn btn-primary" onclick="networkEditor.autoassign();">Assign wells &amp; pipettes</button>
            </div>
            <div id="download-links">
                <a href="english"><i class="fa fa-download"></i>English</a>
                <a id="svg-download-link" href="" onclick="return downloadDiagram();" download="{{ protocol.name }}.svg"><i class="fa fa-download"></i>Diagram (SVG)</a>
                <a href="opentrons" onclick="return validateOpenTrons()"><i class="fa fa-download"></i>OpenTrons</a>
                <a href="autoprotocol"><i class="fa fa-download"></i>AutoProtocol</a>
            </div>

        </div>
        <div id="info" class="col-md-4">
        </div>
    </div>

{% endblock %}


{% block js %}
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
        var protocol_string = {{ protocol.protocol | tojson}};
        var container_types = {{ container_types | tojson }};
    </script>

    {% assets "js_network_editor" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
