
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>

        <p> <b>Laboratory Protocol GUI</b> is a visual tool for editing and exploring system specifications in Signal Temporal Logic (STL).</p>

  		<p>It was developed by <a href=http://jamesscottbrown.com/>James Scott-Brown</a> as part of the <a href="http://sysos.eng.ox.ac.uk/tebio/">TEBio project</a>.</p>

  		<p>The source code is <a href="https://github.com/jamesscottbrown/protocol_gui">available from Github</a>.

    </div>
</div>
{% endblock %}

