
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>

        <p> <b>List of Liquids</b> is a visual tool for editing and exploring system specifications in Signal Temporal Logic (STL).</p>

  		<p>It was developed by <a href=http://jamesscottbrown.com/>James Scott-Brown</a> as part of the <a href="http://sysos.eng.ox.ac.uk/tebio/">TEBio project</a>.</p>

  		<p>The source code is <a href="https://github.com/jamesscottbrown/protocol_gui">available from Github</a>.

        <h1 id="interactive-editing">Help</h1>

        <p><strong>Defining a reference</strong>: <em>Containers</em>, <em>pipettes</em>, and <em>resources</em> can be added by clicking on the 'add' link under the appropriate list. Both will initially be black, as they have not yet been assigned to a container. You can choose to define all the containers and pipettes that you will use as the first thing that you do; alternatively, you can leave this until the end, or add them as you go.</p>
        <p><strong>Adding a resource node</strong>: When a resource is added, then a corresponding node will be added to the diagram. Additional nodes can be created by dragging the name of the resource from the list of resources, and dropping it on the diagram.</p>
        <p><strong>Deleting a node</strong>: Any node can be deleted by right-clicking on it, and selecting 'Delete' from the context-menu. An exception is the final node corresponding to a resource, which cannot be deleted.</p>
        <p><strong>Adding or deleting an operation</strong>: The user can click on a node and drag onto another to indicate that they should be combined in a new location; this creates nodes corresponding to the combination operation and the resulting object. If the shift key is held down when the mouse is released, this will be interpreted as meaning that the node you drag from should be <em>added to</em> the node that you <em>drag to</em>, rather than both being transferred to new wells. Right-clicking on the node representing the operation opens a context menu that lets you change the combination type between <em>zip</em> and *cross.</p>
        <p>To add an operation that acts on only one node (e.g. processing, pooling, or taking an aliquot from each well), use the context-menu opened by right clicking on that node.</p>
        <p><strong>Editing an operation</strong>: Clicking on a node selects it, highlights it in red, and displays its details in an information panel through which they can be edited.</p>
        <p><strong>Editing link details</strong>: Clicking on an edge (or its arrowhead, which provides a larger target to click on) selects it in red and displays its details in the side panel.</p>
        <p>It is also possible to change the parent of an edge by right-clicking, selecting 'Change parent' form the context menu, and then clicking on the node that should become the parent.</p>
        <p><strong>Copying part of a diagram</strong>: after clicking on the 'select nodes to copy' button, clicking in a node toggles whether it is selected, and multiple nodes can be selected. Clicking on the 'Copy' button then copies each of these nodes, and every link that is incident to one of these nodes. This makes it easy to specify that part of a protocol should be repeated, for example with both experimental samples and controls.</p>
        <p><strong>Assigning to containers and wells</strong>: The information panel that opens when you click on a node allows you to assign it to a container from a list populated with all the containers that you have defined.</p>
        <p>Once you have assigned a node to a container, you can set the specific wells in which it will be located by either clicking on &quot;Show or set well locations&quot; in the information panel for that node, or &quot;Well locations&quot; beside the name of the container in the list of containers. Either of these will open a model window showing the container's wells on the left, and a list of aliquots assigned to the container on the right. Lists of aliquots corresponding to a node are grouped together and assigned the same colour; the constituent aliquots are displayed as a numbered list, and their contents listed.</p>
        <p>You can drag and drop a single numbered aliquot from the list to a well. Alternatively, you can drag the coloured bar to assign all aliquots corresponding to a node. In the latter case, you can choose whether to assign these aliquots in a row, column, or rectangle, by clicking on the appropriate icon.</p>
        <p><strong>Exporting protocols</strong>: Above the diagram are a series of links to download the protocol in various formats. If you have not entered sufficient details to convert the protocol into the desired format (for example, if you have not specified which pipette to use for a particular transfer) then a modal dialog will appear listing the errors, and the corresponding parts of the diagram will be highlighted in yellow.</p>
    </div>
</div>
{% endblock %}

