
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to List of Liquids</h1>

  <p>A visual tool for editing laboratory protocols.</p>

  <p><a href="https://github.com/jamesscottbrown/protocol_gui" class="btn btn-primary btn-large">Github &raquo;</a>
  <a href="https://github.com/jamesscottbrown/protocol-issues/issues" class="btn btn-primary btn-large">Issues &raquo;</a>
  </p>

</div>

    {% if current_user.is_authenticated %}
        <h2>Your protocols</h2>
        <div>
            {% if current_user.protocols %}
                {% for protocol in current_user.protocols %}
                    <li><a href="/protocols/{{ protocol.id }}">{{ protocol.name }}</a></li>
                {% endfor %}
            {% else %}
                You haven't created any protocols yet.
            {% endif %}
        </div>
        <div><a href="/protocols/add"><i class="fa fa-plus" aria-hidden="true"></i>Add a new protocol</a></div>
    {% endif %}

    <h2>Public protocols from other users</h2>
    <div>
        {% for protocol in other_protocols %}
            {% if protocol.public and protocol.user != current_user %}
                <li><a href="/protocols/{{ protocol.id }}">{{ protocol.name }}</a></li>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

